<h1><%= @election.name %></h1>

<h3>Priority</h3>
<p><%= @election.priority %></p>
<h3>Year</h3>
<p><%= @election.year %></p>
<h3>Runoff?</h3>
<p><%= @election.runoff %></p>
<h3>Created At</h3>
<p><%= @election.created_at %></p>
<h3>Updated At</h3>
<p><%= @election.updated_at %></p>