<h1><%= @election.name %></h1>
<p><a href=<%= "/elections/#{@election.id}/candidates" %>>View Candidates</a></p>
<p><a href=<%= "/elections/#{@election.id}/edit" %>>Update Election</a></p>
<ul>
  <li><b>YEAR: </b><%= @election.year %></li>
  <li><b>CANDIDATES: </b><%= @election.num_candidates %></li>
  <li><b>RUNOFF: </b><%= @election.runoff %></li>
  <li><b>PRIORITY: </b><%= @election.priority %></li>
  <li><b>CREATED AT: </b><%= @election.created_at %></li>
  <li><b>UPDATED AT: </b><%= @election.updated_at %></li>
</ul>